@keyframes header {
  0% {
    transform: scale(0.9) translateX(800px) translateY(150px);
  }

  50% {
    transform: scale(0.6) translateX(1050px) translateY(410px);
  }

  100% {
    transform: scale(0.9) translateX(800px) translateY(150px);
  }
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.imgMov {
  display: none;
}

@media (min-width: 600px) {
  .imgMov {
    display: block;
  }
}

/* .contframe {
  width: 55%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 200;
  height: 600px;
} */

.framehome {
  bottom: 0px;
  right: 0px;
  width: 100%;
  border: 1px solid #fff;
  position: absolute;
  z-index: 800;
}

.pichome {
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 700;
  animation: header 50s infinite;
}
