@keyframes header {
  0% {
    transform: scale(0.9) translateX(800px) translateY(150px);
  }

  50% {
    transform: scale(0.6) translateX(1050px) translateY(410px);
  }

  100% {
    transform: scale(0.9) translateX(800px) translateY(150px);
  }
}

@keyframes dish {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  11.11% {
    transform: translateY(650px) rotate(180deg);
    opacity: 1;
  }

  22.22% {
    transform: translateY(650px) rotate(180deg);
    opacity: 1;
  }

  45% {
    transform: translateX(700px) translateY(650px) rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: translateX(700px) translateY(650px) rotate(0deg);
    opacity: 0;
  }
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.imgMov {
  display: none;
}

@media (min-width: 600px) {
  .imgMov {
    display: block;
  }
}

.framehome {
  bottom: 0px;
  right: 0px;
  width: 100%;
  border: 1px solid #fff;
  position: absolute;
  z-index: 800;
}

.pichome {
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 700;
  animation: header 50s infinite;
}

/* Images landing */
.dish {
  width: 100%;
  height: auto;
  position: absolute;
}

.dish1 {
  top: -650px;
  right: 0px;
  animation: dish 30s infinite;
  z-index: 400;
}

.dish2 {
  top: -650px;
  right: 0px;
  animation: dish 30s infinite 10s;
  z-index: 500;
}

.dish3 {
  top: -650px;
  right: 0px;
  animation: dish 30s infinite 20s;
  z-index: 300;
}

/*Typing Effect*/
.weare {
  display: block;
  margin: auto;
  width: 100px;
  padding-top: 100px;
  font-size: 40px;
  color: #303841;
}
